
<!DOCTYPE html>
<!--[if IE 9]><html lang="en-us" class="ie9 layout-pf layout-pf-fixed"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-us" ng-app="flight" class="layout-pf">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>flight</title>
  <meta name="description" content="A text based flight simulator" />

  <link rel="shortcut icon" href="/components/patternfly/dist/img/favicon.ico">
  <!-- iPad retina icon -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/components/patternfly/dist/img/apple-touch-icon-precomposed-152.png">
  <!-- iPad retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/components/patternfly/dist/img/apple-touch-icon-precomposed-144.png">
  <!-- iPad non-retina icon -->
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/components/patternfly/dist/img/apple-touch-icon-precomposed-76.png">
  <!-- iPad non-retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/components/patternfly/dist/img/apple-touch-icon-precomposed-72.png">
  <!-- iPhone 6 Plus icon -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/components/patternfly/dist/img/apple-touch-icon-precomposed-180.png">
  <!-- iPhone retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/components/patternfly/dist/img/apple-touch-icon-precomposed-114.png">
  <!-- iPhone non-retina icon (iOS < 7) -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/components/patternfly/dist/img/apple-touch-icon-precomposed-57.png">
  <link rel="stylesheet" href="/css/patternfly-adjusted.min.css">
  <link rel="stylesheet" href="/components/patternfly/dist/css/patternfly-additions.min.css">
  <link rel="stylesheet" href="/css/patternfly-site.min.css">
  <link rel="stylesheet" href="/components/angular-datatables/dist/css/angular-datatables.min.css">

  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/datatables/media/js/jquery.dataTables.js"></script>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-resource/angular-resource.min.js"></script>
  <script src="/components/angular-datatables/dist/angular-datatables.min.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/components/bootstrap-combobox/js/bootstrap-combobox.js"></script>
  <script src="/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
  <script src="/components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="/components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
  <script src="/components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
  <script src="/components/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
  <script src="/components/c3/c3.min.js"></script>
  <script src="/components/d3/d3.min.js"></script>
  <script src="/components/google-code-prettify/bin/prettify.min.js"></script>
  <script src="/components/clipboard/dist/clipboard.min.js"></script>
  <script src="/components/patternfly/dist/js/patternfly.min.js"></script>

  <script src="/components/matchHeight/jquery.matchHeight-min.js"></script>
  <script src="/js/patternfly-site.min.js"></script>
</head>

<body class="cards-pf">
  <div ng-include src="'/_navigation.html'"></div>

<div class="container-fluid container-cards-pf">

  <div class="col-md-12">

    <div class="blank-slate-pf">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon pficon-add-circle-o"></span>
      </div>
      <h1>Welcome to flight!</h1>
      <p>flight is a text based flightsimulator.</p>
      <p>Learn more about this <a href="/docs/">on the documentation</a>.</p>
      <div class="blank-slate-pf-main-action">
        <a href="/flightplans/new" class="btn btn-primary btn-lg" role="button">add a Flightplan</a>
      </div>
      <div class="blank-slate-pf-secondary-action">
        <a href="/airports" class="btn btn-default" role="button">search an Airport</a>
        <a href="/airlines" class="btn btn-default" role="button">search an Airline</a>
      </div>
    </div><!-- blank-slate-pf -->

  </div>
</div>

<script src="/js/app.js"></script>
</body>
</html>
